.hex-alt {
    height: 546px;
    width: 481px;
    max-width: unset;

    aspect-ratio: cos(30deg);
    /* notice how I simply switched the x/y from the previous polygon, easy! */
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: linear-gradient(45deg, #A7DBD8, #C7F464);
}

.hex-alt-2 {
    height: 414px;
    width: 365px;
    max-width: unset;

    aspect-ratio: cos(30deg);
    /* notice how I simply switched the x/y from the previous polygon, easy! */
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: linear-gradient(45deg, #A7DBD8, #C7F464);
}
